In [83]:
#Import dependencies
import quandl
import pandas as pd
import numpy as np 
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split

In [84]:
#Retrieve data from Quandl
quandl.ApiConfig.api_key = "1sNXfWjF5c7B4CLEZZyT"

In [85]:
#Assign start and end dates form the stock
start = pd.to_datetime('2014-10-17')
end = pd.to_datetime('2019-10-17')
data_AMZN = quandl.get('EOD/AMZN', start_date='2014-10-17', end_date='2019-10-17')
data_AMZN.tail()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2019-10-11,1742.92,1745.45,1729.86,1731.92,3279534.0,0.0,1.0,1742.92,1745.45,1729.86,1731.92,3279534.0
2019-10-14,1728.91,1741.89,1722.00,1736.43,1928898.0,0.0,1.0,1728.91,1741.89,1722.00,1736.43,1928898.0
2019-10-15,1742.14,1776.45,1740.62,1767.38,3129244.0,0.0,1.0,1742.14,1776.45,1740.62,1767.38,3129244.0
2019-10-16,1773.33,1786.24,1770.52,1777.43,2804068.0,0.0,1.0,1773.33,1786.24,1770.52,1777.43,2804068.0
2019-10-17,1796.49,1798.85,1782.02,1787.48,2713773.0,0.0,1.0,1796.49,1798.85,1782.02,1787.48,2713773.0

In [86]:
# Get the Adjusted Close Price 
data_AMZN = data_AMZN[['Adj_Close']] 
# Take a look at the new data 
print(data_AMZN.head())

            Adj_Close
Date
2014-10-17     303.64
2014-10-20     306.21
2014-10-21     315.33
2014-10-22     312.97
2014-10-23     313.18

In [87]:
# A variable for predicting 'n' days out into the future
forecast_out=30     
#Create another column (the target ) shifted 'n' units up
data_AMZN['Prediction'] = data_AMZN[['Adj_Close']].shift(-forecast_out)
#print the new data set
print(data_AMZN.tail())

            Adj_Close  Prediction
Date
2019-10-11    1731.92         NaN
2019-10-14    1736.43         NaN
2019-10-15    1767.38         NaN
2019-10-16    1777.43         NaN
2019-10-17    1787.48         NaN

In [88]:
### Create the independent data set (X)  #######
# Convert the dataframe to a numpy array
X = np.array(data_AMZN.drop(['Prediction'],1))

#Remove the last '30' rows
X = X[:-forecast_out]
print(X)

[[ 303.64]
 [ 306.21]
 [ 315.33]
 ...
 [1789.84]
 [1800.62]
 [1840.72]]

In [89]:
### Create the dependent data set (y)  #####
# Convert the dataframe to a numpy array 
y = np.array(data_AMZN['Prediction'])
# Get all of the y values except the last '30' rows
y = y[:-forecast_out]
print(y)

[ 326.    326.31  316.5  ... 1767.38 1777.43 1787.48]

In [90]:
# Split the data into 80% training and 20% testing
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [91]:
# Create and train the Support Vector Machine (Regressor) 
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.1) 
svr_rbf.fit(x_train, y_train)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=0.1,
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [92]:
# Testing Model: Score returns the coefficient of determination R^2 of the prediction. 
# The best possible score is 1.0
svm_confidence = svr_rbf.score(x_test, y_test)
print("svm confidence: ", svm_confidence)

svm confidence:  0.9278426223524446

In [93]:
# Create and train the Linear Regression  Model
lr = LinearRegression()
# Train the model
lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [94]:
# Testing Model: Score returns the coefficient of determination R^2 of the prediction. 
# The best possible score is 1.0
lr_confidence = lr.score(x_test, y_test)
print("lr confidence: ", lr_confidence)

lr confidence:  0.96235033147744

In [95]:
# Set x_forecast equal to the last 30 rows of the original data set from Adj. Close column
x_forecast = np.array(data_AMZN.drop(['Prediction'],1))[-forecast_out:]
print(x_forecast)

[[1833.51]
 [1831.35]
 [1820.55]
 [1822.99]
 [1843.55]
 [1839.34]
 [1807.84]
 [1822.55]
 [1817.46]
 [1821.5 ]
 [1794.16]
 [1785.3 ]
 [1741.61]
 [1768.33]
 [1739.84]
 [1725.45]
 [1735.91]
 [1735.65]
 [1713.23]
 [1724.42]
 [1739.65]
 [1732.66]
 [1705.51]
 [1721.99]
 [1720.26]
 [1731.92]
 [1736.43]
 [1767.38]
 [1777.43]
 [1787.48]]

In [96]:
# Print linear regression model predictions for the next '30' days
lr_prediction = lr.predict(x_forecast)
print(lr_prediction)

[1852.26908111 1850.15429735 1839.58037855 1841.96930094 1862.09890933
 1857.97703913 1827.13644262 1841.53851166 1836.55506289 1840.51049178
 1813.74281214 1805.06828246 1762.29286463 1788.45352301 1760.55991683
 1746.47114909 1756.71218527 1756.45762796 1734.50695578 1745.46271054
 1760.37389419 1753.53021896 1726.94856197 1743.08357881 1741.38979367
 1752.80570971 1757.22129988 1787.52340978 1797.36302866 1807.20264755]

In [97]:
# Print support vector regressor model predictions for the next '30' days
svm_prediction = svr_rbf.predict(x_forecast)
print(svm_prediction)

[1893.63781407 1492.97737723 1905.69651854 1912.97257975 1837.97708915
 1789.47356327 1790.01826954 1926.74309191 1770.08326972 1920.1582289
 1843.08733328 1761.71853016 1924.03817458 1728.91937968 1893.88327356
 1787.72218945 1829.73214518 1825.36984604 1933.44497516 1798.89149387
 1889.95340118 1686.93186333 1769.91630995 1581.76865381 1466.41065161
 1693.38248943 1835.34874872 1811.67091503 1639.18269644 1823.30903295]

In [98]:
data_AMZN_val= quandl.get('EOD/AMZN', start_date='2019-10-18', end_date='2019-11-18')
data_AMZN_val.tail()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2019-11-12,1774.66,1786.22,1771.91,1778.00,2038925.0,0.0,1.0,1774.66,1786.22,1771.91,1778.00,2038925.0
2019-11-13,1773.39,1775.00,1747.32,1753.11,2926892.0,0.0,1.0,1773.39,1775.00,1747.32,1753.11,2926892.0
2019-11-14,1751.43,1766.59,1749.56,1754.60,2269417.0,0.0,1.0,1751.43,1766.59,1749.56,1754.60,2269417.0
2019-11-15,1760.05,1761.68,1732.86,1739.49,3931141.0,0.0,1.0,1760.05,1761.68,1732.86,1739.49,3931141.0
2019-11-18,1738.30,1753.70,1722.71,1752.53,2841907.0,0.0,1.0,1738.30,1753.70,1722.71,1752.53,2841907.0

In [99]:
data_AMZN_val=data_AMZN_val[["Adj_Close"]]
data_AMZN_val

            Adj_Close
Date
2019-10-18    1757.51
2019-10-21    1785.66
2019-10-22    1765.73
2019-10-23    1762.17
2019-10-24    1780.78
2019-10-25    1761.33
2019-10-28    1777.08
2019-10-29    1762.71
2019-10-30    1779.99
2019-10-31    1776.66
2019-11-01    1791.44
2019-11-04    1804.66
2019-11-05    1801.71
2019-11-06    1795.77
2019-11-07    1788.20
2019-11-08    1785.88
2019-11-11    1771.65
2019-11-12    1778.00
2019-11-13    1753.11
2019-11-14    1754.60
2019-11-15    1739.49
2019-11-18    1752.53

In [100]:
data_AMZN_val.to_csv("AMZNdata.csv", index=True, header=True)