In [100]:
import quandl
import pandas as pd
import json
import numpy as np
import requests
import matplotlib.pyplot as plt
import dateutil.parser

In [101]:
quandl.ApiConfig.api_key = "1sNXfWjF5c7B4CLEZZyT"

In [102]:
start = pd.to_datetime('2019-11-01')
end = pd.to_datetime('2019-11-17')
data_TGT = quandl.get('EOD/TGT', start_date='2019-11-01', end_date='2019-11-17')

In [103]:
data_TGT.head(20)

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2019-11-01,108.06,108.3650,107.4300,107.82,3103572.0,0.0,1.0,108.06,108.3650,107.4300,107.82,3103572.0
2019-11-04,108.50,109.1600,108.2100,108.77,3192971.0,0.0,1.0,108.50,109.1600,108.2100,108.77,3192971.0
2019-11-05,108.97,110.4174,108.8300,110.06,3290216.0,0.0,1.0,108.97,110.4174,108.8300,110.06,3290216.0
2019-11-06,109.89,110.6000,109.3400,110.51,3233716.0,0.0,1.0,109.89,110.6000,109.3400,110.51,3233716.0
2019-11-07,111.62,111.8600,110.3400,110.59,3493426.0,0.0,1.0,111.62,111.8600,110.3400,110.59,3493426.0
2019-11-08,110.56,110.9800,109.4161,110.15,2805408.0,0.0,1.0,110.56,110.9800,109.4161,110.15,2805408.0
2019-11-11,110.63,110.8600,109.7600,110.45,3082746.0,0.0,1.0,110.63,110.8600,109.7600,110.45,3082746.0
2019-11-12,110.22,110.2800,107.9100,108.35,5429525.0,0.0,1.0,110.22,110.2800,107.9100,108.35,5429525.0
2019-11-13,108.63,109.2300,107.0200,108.58,3903256.0,0.0,1.0,108.63,109.2300,107.0200,108.58,3903256.0
2019-11-14,110.71,111.2500,109.5643,111.11,5968302.0,0.0,1.0,110.71,111.2500,109.5643,111.11,5968302.0
2019-11-15,112.05,113.6800,111.3300,113.21,5335862.0,0.0,1.0,112.05,113.6800,111.3300,113.21,5335862.0

In [105]:
data_TGT['Ticker']=['TGT','TGT','TGT','TGT','TGT','TGT','TGT','TGT','TGT','TGT','TGT']

In [106]:
data_TGT

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,Ticker
Date,,,,,,,,,,,,,
2019-11-01,108.06,108.3650,107.4300,107.82,3103572.0,0.0,1.0,108.06,108.3650,107.4300,107.82,3103572.0,TGT
2019-11-04,108.50,109.1600,108.2100,108.77,3192971.0,0.0,1.0,108.50,109.1600,108.2100,108.77,3192971.0,TGT
2019-11-05,108.97,110.4174,108.8300,110.06,3290216.0,0.0,1.0,108.97,110.4174,108.8300,110.06,3290216.0,TGT
2019-11-06,109.89,110.6000,109.3400,110.51,3233716.0,0.0,1.0,109.89,110.6000,109.3400,110.51,3233716.0,TGT
2019-11-07,111.62,111.8600,110.3400,110.59,3493426.0,0.0,1.0,111.62,111.8600,110.3400,110.59,3493426.0,TGT
2019-11-08,110.56,110.9800,109.4161,110.15,2805408.0,0.0,1.0,110.56,110.9800,109.4161,110.15,2805408.0,TGT
2019-11-11,110.63,110.8600,109.7600,110.45,3082746.0,0.0,1.0,110.63,110.8600,109.7600,110.45,3082746.0,TGT
2019-11-12,110.22,110.2800,107.9100,108.35,5429525.0,0.0,1.0,110.22,110.2800,107.9100,108.35,5429525.0,TGT
2019-11-13,108.63,109.2300,107.0200,108.58,3903256.0,0.0,1.0,108.63,109.2300,107.0200,108.58,3903256.0,TGT
2019-11-14,110.71,111.2500,109.5643,111.11,5968302.0,0.0,1.0,110.71,111.2500,109.5643,111.11,5968302.0,TGT
2019-11-15,112.05,113.6800,111.3300,113.21,5335862.0,0.0,1.0,112.05,113.6800,111.3300,113.21,5335862.0,TGT

In [107]:
data_WMT = quandl.get('EOD/WMT', start_date='2019-11-01', end_date='2019-11-17')
data_WMT.head(10)

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2019-11-01,117.92,117.97,117.2300,117.62,3762593.0,0.0,1.0,117.92,117.97,117.2300,117.62,3762593.0
2019-11-04,118.40,119.11,117.1700,117.57,4642893.0,0.0,1.0,118.40,119.11,117.1700,117.57,4642893.0
2019-11-05,117.68,119.14,117.0750,118.86,4212739.0,0.0,1.0,117.68,119.14,117.0750,118.86,4212739.0
2019-11-06,118.83,119.62,118.7100,119.50,3613249.0,0.0,1.0,118.83,119.62,118.7100,119.50,3613249.0
2019-11-07,120.00,120.92,119.5400,120.23,4440348.0,0.0,1.0,120.00,120.92,119.5400,120.23,4440348.0
2019-11-08,120.31,120.88,118.9400,119.44,3832703.0,0.0,1.0,120.31,120.88,118.9400,119.44,3832703.0
2019-11-11,118.70,119.63,118.2800,119.04,4438614.0,0.0,1.0,118.70,119.63,118.2800,119.04,4438614.0
2019-11-12,119.60,120.00,118.8096,119.12,5062371.0,0.0,1.0,119.60,120.00,118.8096,119.12,5062371.0
2019-11-13,119.16,121.36,118.6600,120.98,8009699.0,0.0,1.0,119.16,121.36,118.6600,120.98,8009699.0
2019-11-14,124.60,125.38,119.5100,120.65,22504031.0,0.0,1.0,124.60,125.38,119.5100,120.65,22504031.0

In [108]:
data_AMZN = quandl.get('EOD/AMZN', start_date='2019-11-01', end_date='2019-11-17')
data_AMZN.head(10)

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2019-11-01,1788.01,1797.44,1785.21,1791.44,2790354.0,0.0,1.0,1788.01,1797.44,1785.21,1791.44,2790354.0
2019-11-04,1801.01,1815.06,1801.01,1804.66,2771922.0,0.0,1.0,1801.01,1815.06,1801.01,1804.66,2771922.0
2019-11-05,1809.16,1810.25,1794.00,1801.71,1885543.0,0.0,1.0,1809.16,1810.25,1794.00,1801.71,1885543.0
2019-11-06,1801.00,1802.50,1788.58,1795.77,2029783.0,0.0,1.0,1801.00,1802.50,1788.58,1795.77,2029783.0
2019-11-07,1803.76,1805.90,1783.48,1788.20,2651086.0,0.0,1.0,1803.76,1805.90,1783.48,1788.20,2651086.0
2019-11-08,1787.89,1789.88,1774.04,1785.88,2126198.0,0.0,1.0,1787.89,1789.88,1774.04,1785.88,2126198.0
2019-11-11,1778.00,1780.00,1767.13,1771.65,1947810.0,0.0,1.0,1778.00,1780.00,1767.13,1771.65,1947810.0
2019-11-12,1774.66,1786.22,1771.91,1778.00,2038925.0,0.0,1.0,1774.66,1786.22,1771.91,1778.00,2038925.0
2019-11-13,1773.39,1775.00,1747.32,1753.11,2926892.0,0.0,1.0,1773.39,1775.00,1747.32,1753.11,2926892.0
2019-11-14,1751.43,1766.59,1749.56,1754.60,2269417.0,0.0,1.0,1751.43,1766.59,1749.56,1754.60,2269417.0

In [109]:
data_BBY = quandl.get('EOD/BBY', start_date='2019-11-01', end_date='2019-11-17')
data_BBY.head(10)

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2019-11-01,72.40,73.495,72.120,72.92,2353587.0,0.0,1.0,72.40,73.495,72.120,72.92,2353587.0
2019-11-04,73.65,74.950,73.600,74.81,1541668.0,0.0,1.0,73.65,74.950,73.600,74.81,1541668.0
2019-11-05,75.00,76.000,74.545,74.84,2867318.0,0.0,1.0,75.00,76.000,74.545,74.84,2867318.0
2019-11-06,74.97,75.280,73.610,75.05,2501297.0,0.0,1.0,74.97,75.280,73.610,75.05,2501297.0
2019-11-07,75.97,76.885,75.800,76.01,1818533.0,0.0,1.0,75.97,76.885,75.800,76.01,1818533.0
2019-11-08,75.68,76.860,75.410,76.85,1984155.0,0.0,1.0,75.68,76.860,75.410,76.85,1984155.0
2019-11-11,76.50,76.950,75.650,76.25,2602343.0,0.0,1.0,76.50,76.950,75.650,76.25,2602343.0
2019-11-12,76.19,76.190,74.980,75.19,2184067.0,0.0,1.0,76.19,76.190,74.980,75.19,2184067.0
2019-11-13,74.73,75.420,74.190,75.02,1600656.0,0.0,1.0,74.73,75.420,74.190,75.02,1600656.0
2019-11-14,74.92,75.990,74.869,75.60,1803129.0,0.0,1.0,74.92,75.990,74.869,75.60,1803129.0

In [110]:
data_COST = quandl.get('EOD/COST', start_date='2019-11-01', end_date='2019-11-17')
data_COST.head(10)

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2019-11-01,297.99,298.4150,295.500,296.09,1364483.0,0.0,1.0,297.99,298.4150,295.500,296.09,1364483.0
2019-11-04,297.16,298.2200,295.170,296.82,1651608.0,0.0,1.0,297.16,298.2200,295.170,296.82,1651608.0
2019-11-05,297.09,299.6925,295.805,299.18,2204542.0,0.0,1.0,297.09,299.6925,295.805,299.18,2204542.0
2019-11-06,299.97,301.6500,297.925,301.57,1675008.0,0.0,1.0,299.97,301.6500,297.925,301.57,1675008.0
2019-11-07,303.93,307.1000,302.480,305.21,2399391.0,0.0,1.0,303.93,307.1000,302.480,305.21,2399391.0
2019-11-08,302.74,304.2900,301.280,302.62,1502221.0,0.0,1.0,302.74,304.2900,301.280,302.62,1502221.0
2019-11-11,301.55,302.3300,299.700,300.84,1160960.0,0.0,1.0,301.55,302.3300,299.700,300.84,1160960.0
2019-11-12,300.83,302.7300,298.660,300.50,1540974.0,0.0,1.0,300.83,302.7300,298.660,300.50,1540974.0
2019-11-13,300.18,304.0000,299.520,302.90,1554889.0,0.0,1.0,300.18,304.0000,299.520,302.90,1554889.0
2019-11-14,304.39,305.8884,302.265,304.59,1337458.0,0.0,1.0,304.39,305.8884,302.265,304.59,1337458.0

In [111]:
data_HD = quandl.get('EOD/HD', start_date='2019-11-01', end_date='2019-11-17')
data_HD.head(10)

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2019-11-01,236.07,237.445,235.0610,237.34,2196353.0,0.0,1.0,236.07,237.445,235.0610,237.34,2196353.0
2019-11-04,238.27,238.390,233.8800,234.92,2541885.0,0.0,1.0,238.27,238.390,233.8800,234.92,2541885.0
2019-11-05,234.74,234.920,230.2700,232.20,3622651.0,0.0,1.0,234.74,234.920,230.2700,232.20,3622651.0
2019-11-06,232.83,234.040,231.8900,234.01,2631919.0,0.0,1.0,232.83,234.040,231.8900,234.01,2631919.0
2019-11-07,234.00,235.790,231.7600,232.94,2832532.0,0.0,1.0,234.00,235.790,231.7600,232.94,2832532.0
2019-11-08,232.80,233.260,231.6313,232.84,2088326.0,0.0,1.0,232.80,233.260,231.6313,232.84,2088326.0
2019-11-11,230.50,232.280,230.1800,231.80,2309626.0,0.0,1.0,230.50,232.280,230.1800,231.80,2309626.0
2019-11-12,232.15,234.630,232.0000,233.12,2991071.0,0.0,1.0,232.15,234.630,232.0000,233.12,2991071.0
2019-11-13,232.09,234.900,230.8500,234.80,2624808.0,0.0,1.0,232.09,234.900,230.8500,234.80,2624808.0
2019-11-14,235.00,236.940,234.0400,236.55,2281982.0,0.0,1.0,235.00,236.940,234.0400,236.55,2281982.0

In [112]:
data_M = quandl.get('EOD/M', start_date='2019-11-01', end_date='2019-11-17')
data_M.head(10)

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2019-11-01,15.25,15.75,15.210,15.58,10797594.0,0.0,1.0,15.25,15.75,15.210,15.58,10797594.0
2019-11-04,15.75,16.06,15.710,15.85,10276445.0,0.0,1.0,15.75,16.06,15.710,15.85,10276445.0
2019-11-05,16.08,16.71,16.030,16.71,19487122.0,0.0,1.0,16.08,16.71,16.030,16.71,19487122.0
2019-11-06,16.62,16.70,15.910,15.97,17937651.0,0.0,1.0,16.62,16.70,15.910,15.97,17937651.0
2019-11-07,16.31,16.66,16.175,16.22,14383460.0,0.0,1.0,16.31,16.66,16.175,16.22,14383460.0
2019-11-08,16.10,16.17,15.600,15.88,14903927.0,0.0,1.0,16.10,16.17,15.600,15.88,14903927.0
2019-11-11,15.85,16.30,15.640,16.05,15586915.0,0.0,1.0,15.85,16.30,15.640,16.05,15586915.0
2019-11-12,15.92,16.42,15.520,16.08,23176162.0,0.0,1.0,15.92,16.42,15.520,16.08,23176162.0
2019-11-13,15.95,16.16,15.740,16.07,14570058.0,0.0,1.0,15.95,16.16,15.740,16.07,14570058.0
2019-11-14,16.19,16.60,16.090,16.24,17454523.0,0.0,1.0,16.19,16.60,16.090,16.24,17454523.0