In [2]:
import quandl
import pandas as pd
import json
import numpy as np
import matplotlib.pyplot as plt

In [3]:
quandl.ApiConfig.api_key = "1sNXfWjF5c7B4CLEZZyT"

In [4]:
start = pd.to_datetime('2019-11-01')
end = pd.to_datetime('2019-11-17')
data_TGT = quandl.get('EOD/TGT', start_date='2019-11-01', end_date='2019-11-17')
data_TGT['Ticker']=['TGT','TGT','TGT','TGT','TGT','TGT','TGT','TGT','TGT','TGT','TGT']
data_TGT['Value']=data_TGT['Close']-data_TGT['Open']
data_TGT=data_TGT[["Ticker","Value"]]
data_TGT.head(5)

           Ticker  Value
Date
2019-11-01    TGT  -0.24
2019-11-04    TGT   0.27
2019-11-05    TGT   1.09
2019-11-06    TGT   0.62
2019-11-07    TGT  -1.03

In [5]:
data_WMT = quandl.get('EOD/WMT', start_date='2019-11-01', end_date='2019-11-17')
data_WMT['Ticker']=['WMT','WMT','WMT','WMT','WMT','WMT','WMT','WMT','WMT','WMT','WMT']
data_WMT['Value']=data_WMT['Close']-data_WMT['Open']
data_WMT=data_WMT[["Ticker","Value"]]
data_WMT.head()

           Ticker  Value
Date
2019-11-01    WMT  -0.30
2019-11-04    WMT  -0.83
2019-11-05    WMT   1.18
2019-11-06    WMT   0.67
2019-11-07    WMT   0.23

In [6]:
data_AMZN = quandl.get('EOD/AMZN', start_date='2019-11-01', end_date='2019-11-17')
data_AMZN['Ticker']=['AMZN','AMZN','AMZN','AMZN','AMZN','AMZN','AMZN','AMZN','AMZN','AMZN','AMZN']
data_AMZN['Value']=data_AMZN['Close']-data_AMZN['Open']
data_AMZN=data_AMZN[["Ticker","Value"]]
data_AMZN.head(5)

           Ticker  Value
Date
2019-11-01   AMZN   3.43
2019-11-04   AMZN   3.65
2019-11-05   AMZN  -7.45
2019-11-06   AMZN  -5.23
2019-11-07   AMZN -15.56

In [7]:
data_BBY = quandl.get('EOD/BBY', start_date='2019-11-01', end_date='2019-11-17')
data_BBY['Ticker']=['BBY','BBY','BBY','BBY','BBY','BBY','BBY','BBY','BBY','BBY','BBY']
data_BBY['Value']=data_BBY['Close']-data_BBY['Open']
data_BBY=data_BBY[["Ticker","Value"]]
data_BBY.head(5)

           Ticker  Value
Date
2019-11-01    BBY   0.52
2019-11-04    BBY   1.16
2019-11-05    BBY  -0.16
2019-11-06    BBY   0.08
2019-11-07    BBY   0.04

In [8]:
data_LOW = quandl.get('EOD/LOW', start_date='2019-11-01', end_date='2019-11-17')
data_LOW['Ticker']=['LOW','LOW','LOW','LOW','LOW','LOW','LOW','LOW','LOW','LOW','LOW']
data_LOW['Value']=data_LOW['Close']-data_LOW['Open']
data_LOW=data_LOW[["Ticker","Value"]]
data_LOW.head(5)

           Ticker  Value
Date
2019-11-01    LOW   1.03
2019-11-04    LOW  -0.44
2019-11-05    LOW  -0.46
2019-11-06    LOW  -0.33
2019-11-07    LOW  -0.85

In [9]:
data_HD = quandl.get('EOD/HD', start_date='2019-11-01', end_date='2019-11-17')
data_HD['Ticker']=['HD','HD','HD','HD','HD','HD','HD','HD','HD','HD','HD']
data_HD['Value']=data_HD['Close']-data_HD['Open']
data_HD=data_HD[["Ticker","Value"]]
data_HD.head(5)

           Ticker  Value
Date
2019-11-01     HD   1.27
2019-11-04     HD  -3.35
2019-11-05     HD  -2.54
2019-11-06     HD   1.18
2019-11-07     HD  -1.06

In [10]:
data_M = quandl.get('EOD/M', start_date='2019-11-01', end_date='2019-11-17')
data_M['Ticker']=['M','M','M','M','M','M','M','M','M','M','M']
data_M['Value']=data_M['Close']-data_M['Open']
data_M=data_M[["Ticker","Value"]]
data_M.head(5)

           Ticker  Value
Date
2019-11-01      M   0.33
2019-11-04      M   0.10
2019-11-05      M   0.63
2019-11-06      M  -0.65
2019-11-07      M  -0.09

In [13]:
data_TGT.to_csv("TGT.csv", index=True, header=True)
data_WMT.to_csv("WMT.csv", index=True, header=True)
data_AMZN.to_csv("AMZN.csv", index=True, header=True)
data_BBY.to_csv("BBY.csv", index=True, header=True)
data_LOW.to_csv("LOW.csv", index=True, header=True)
data_HD.to_csv("HD.csv", index=True, header=True)
data_M.to_csv("M.csv", index=True, header=True)